<div class= "d-flex flex-column align-items-center mt-5 pt-5">
  <h2>Your Wishlists</h2>
  <% if @services.empty? %>
    <p>Your wishlist is empty.</p>
  <% else %>
    <%= render "services/list" %>
  <% end %>
</div>
