// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #00cecb;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background-color: #CBF3F0;
$button-color: #00CECB;
$font-title-color: white;
$font-subtitle-color: #B3241C;
$font-subtitle-two-color: black;
$font-text-color: gray;
