.edit {
  background-image: url("2heart.jpg") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: fill;
  height: 100vw;
  width: 100vw;
}
