.navbar-lewagon {
  justify-content: space-between;
  background: #00CECB;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  font-size: x-large;
  cursor: pointer;
}

.dropdown-menu {
  font-size: smaller;
}
