// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "flatpickr/dist/flatpickr.css";
@import "flatpickr/dist/themes/airbnb";

body {
  background-color: $background-color;
}

h1 {
  font-size: xxx-large;
  font-family: $headers-font;
  color: $font-title-color;
  text-shadow: 1px 1px 2px darkred;
}

h3 {
  font-family: $sub-headers-font;
  color: $font-subtitle-color;
  font-size: xx-large;
}

h4 {
  font-family: $sub-headers-font;
  color: $font-subtitle-two-color;
  font-size: xx-large;
}

p {
  font-family: $sub-headers-font;
  color: $font-text-color;
  font-size: large;
}
