<div class="banner">
  <%= video_tag "pexels-anton-antons-2035509-1920x1080-24fps.mp4", controls: false, autoplay: :autoplay, loop: :loop, muted: :muted %>
  <div class="container" id="banner-info">
    <h1>Happy Ending goes beyond a quick ending!</h1>
    <p>Change your life by meeting the best boyfriends and girlfriends.</p>
    <a class="btn btn-flat" href="#cards-services">Search now</a>
  </div>
</div>
