<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner-img.jpg') %>);">
  <div class="container">
    <h1><strong>Hive</strong> </h1>
    <p>Connect with exceptional individuals who can transform your life. <br>
      Find your perfect match and start meaningful connections
      .</p>
    <%# <%= link_to "Apply now", "#", class: "btn btn-flat" %>
  </div>
</div>
